@charset "UTF-8";
/****************************************************
*   Default values. Change as desired.
*****************************************************/
/****************************************************
*   Icon names and unicode identifiers.
*****************************************************/
/****************************************************
*   Mixin and classes definitions
*****************************************************/
.unicon-u-arrow-left:after,
[data-unicon-after="u-arrow-left"]:after {
  content: "↩";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-u-arrow-left-before:before, [data-unicon-before="u-arrow-left"]:before {
  content: "↩";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-u-arrow-right:after,
[data-unicon-after="u-arrow-right"]:after {
  content: "↪";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-u-arrow-right-before:before, [data-unicon-before="u-arrow-right"]:before {
  content: "↪";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-circular-arrow-anticlockwise:after,
[data-unicon-after="circular-arrow-anticlockwise"]:after {
  content: "↺";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-circular-arrow-anticlockwise-before:before, [data-unicon-before="circular-arrow-anticlockwise"]:before {
  content: "↺";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-circular-arrow-clockwise:after,
[data-unicon-after="circular-arrow-clockwise"]:after {
  content: "↻";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-circular-arrow-clockwise-before:before, [data-unicon-before="circular-arrow-clockwise"]:before {
  content: "↻";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-closed-circular-arrow-anticlockwise:after,
[data-unicon-after="closed-circular-arrow-anticlockwise"]:after {
  content: "⟲";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-closed-circular-arrow-anticlockwise-before:before, [data-unicon-before="closed-circular-arrow-anticlockwise"]:before {
  content: "⟲";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-closed-circular-arrow-clockwise:after,
[data-unicon-after="closed-circular-arrow-clockwise"]:after {
  content: "⟳";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-closed-circular-arrow-clockwise-before:before, [data-unicon-before="closed-circular-arrow-clockwise"]:before {
  content: "⟳";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-angle-arrow-left:after,
[data-unicon-after="angle-arrow-left"]:after {
  content: "↰";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-angle-arrow-left-before:before, [data-unicon-before="angle-arrow-left"]:before {
  content: "↰";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-angle-arrow-right:after,
[data-unicon-after="angle-arrow-right"]:after {
  content: "↱";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-angle-arrow-right-before:before, [data-unicon-before="angle-arrow-right"]:before {
  content: "↱";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-double-arrow-left:after,
[data-unicon-after="double-arrow-left"]:after {
  content: "⇐";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-double-arrow-left-before:before, [data-unicon-before="double-arrow-left"]:before {
  content: "⇐";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-double-arrow-up:after,
[data-unicon-after="double-arrow-up"]:after {
  content: "⇑";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-double-arrow-up-before:before, [data-unicon-before="double-arrow-up"]:before {
  content: "⇑";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-double-arrow-right:after,
[data-unicon-after="double-arrow-right"]:after {
  content: "⇒";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-double-arrow-right-before:before, [data-unicon-before="double-arrow-right"]:before {
  content: "⇒";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-double-arrow-down:after,
[data-unicon-after="double-arrow-down"]:after {
  content: "⇓";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-double-arrow-down-before:before, [data-unicon-before="double-arrow-down"]:before {
  content: "⇓";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-double-arrow-left-right:after,
[data-unicon-after="double-arrow-left-right"]:after {
  content: "⇔";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-double-arrow-left-right-before:before, [data-unicon-before="double-arrow-left-right"]:before {
  content: "⇔";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-double-arrow-up-down:after,
[data-unicon-after="double-arrow-up-down"]:after {
  content: "⇕";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-double-arrow-up-down-before:before, [data-unicon-before="double-arrow-up-down"]:before {
  content: "⇕";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-double-arrow-top-left:after,
[data-unicon-after="double-arrow-top-left"]:after {
  content: "⇖";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-double-arrow-top-left-before:before, [data-unicon-before="double-arrow-top-left"]:before {
  content: "⇖";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-double-arrow-top-right:after,
[data-unicon-after="double-arrow-top-right"]:after {
  content: "⇗";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-double-arrow-top-right-before:before, [data-unicon-before="double-arrow-top-right"]:before {
  content: "⇗";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-double-arrow-bottom-right:after,
[data-unicon-after="double-arrow-bottom-right"]:after {
  content: "⇘";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-double-arrow-bottom-right-before:before, [data-unicon-before="double-arrow-bottom-right"]:before {
  content: "⇘";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-double-arrow-bottom-left:after,
[data-unicon-after="double-arrow-bottom-left"]:after {
  content: "⇙";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-double-arrow-bottom-left-before:before, [data-unicon-before="double-arrow-bottom-left"]:before {
  content: "⇙";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-outline-arrow-left:after,
[data-unicon-after="outline-arrow-left"]:after {
  content: "⇦";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-outline-arrow-left-before:before, [data-unicon-before="outline-arrow-left"]:before {
  content: "⇦";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-outline-arrow-up:after,
[data-unicon-after="outline-arrow-up"]:after {
  content: "⇧";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-outline-arrow-up-before:before, [data-unicon-before="outline-arrow-up"]:before {
  content: "⇧";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-outline-arrow-right:after,
[data-unicon-after="outline-arrow-right"]:after {
  content: "⇨";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-outline-arrow-right-before:before, [data-unicon-before="outline-arrow-right"]:before {
  content: "⇨";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-outline-arrow-down:after,
[data-unicon-after="outline-arrow-down"]:after {
  content: "⇩";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-outline-arrow-down-before:before, [data-unicon-before="outline-arrow-down"]:before {
  content: "⇩";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-outline-split-arrow-up:after,
[data-unicon-after="outline-split-arrow-up"]:after {
  content: "⇪";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-outline-split-arrow-up-before:before, [data-unicon-before="outline-split-arrow-up"]:before {
  content: "⇪";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-outline-split-double-arrow-up:after,
[data-unicon-after="outline-split-double-arrow-up"]:after {
  content: "⇮";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-outline-split-double-arrow-up-before:before, [data-unicon-before="outline-split-double-arrow-up"]:before {
  content: "⇮";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-thin-arrow-top-left-corner:after,
[data-unicon-after="thin-arrow-top-left-corner"]:after {
  content: "⇱";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-thin-arrow-top-left-corner-before:before, [data-unicon-before="thin-arrow-top-left-corner"]:before {
  content: "⇱";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-thin-arrow-bottom-right-corner:after,
[data-unicon-after="thin-arrow-bottom-right-corner"]:after {
  content: "⇲";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-thin-arrow-bottom-right-corner-before:before, [data-unicon-before="thin-arrow-bottom-right-corner"]:before {
  content: "⇲";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-thin-outline-arrow-left:after,
[data-unicon-after="thin-outline-arrow-left"]:after {
  content: "⇽";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-thin-outline-arrow-left-before:before, [data-unicon-before="thin-outline-arrow-left"]:before {
  content: "⇽";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-thin-outline-arrow-right:after,
[data-unicon-after="thin-outline-arrow-right"]:after {
  content: "⇾";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-thin-outline-arrow-right-before:before, [data-unicon-before="thin-outline-arrow-right"]:before {
  content: "⇾";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-short-fat-arrow-right:after,
[data-unicon-after="short-fat-arrow-right"]:after {
  content: "➧";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-short-fat-arrow-right-before:before, [data-unicon-before="short-fat-arrow-right"]:before {
  content: "➧";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-short-arrow-left:after,
[data-unicon-after="short-arrow-left"]:after {
  content: "￩";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-short-arrow-left-before:before, [data-unicon-before="short-arrow-left"]:before {
  content: "￩";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-short-arrow-top:after,
[data-unicon-after="short-arrow-top"]:after {
  content: "￪";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-short-arrow-top-before:before, [data-unicon-before="short-arrow-top"]:before {
  content: "￪";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-short-arrow-right:after,
[data-unicon-after="short-arrow-right"]:after {
  content: "￫";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-short-arrow-right-before:before, [data-unicon-before="short-arrow-right"]:before {
  content: "￫";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-short-arrow-bottom:after,
[data-unicon-after="short-arrow-bottom"]:after {
  content: "￬";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-short-arrow-bottom-before:before, [data-unicon-before="short-arrow-bottom"]:before {
  content: "￬";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-arrowhead-right:after,
[data-unicon-after="arrowhead-right"]:after {
  content: "➤";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-arrowhead-right-before:before, [data-unicon-before="arrowhead-right"]:before {
  content: "➤";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-arrow-left-right:after,
[data-unicon-after="arrow-left-right"]:after {
  content: "↔";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-arrow-left-right-before:before, [data-unicon-before="arrow-left-right"]:before {
  content: "↔";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-arrow-up-down:after,
[data-unicon-after="arrow-up-down"]:after {
  content: "↕";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-arrow-up-down-before:before, [data-unicon-before="arrow-up-down"]:before {
  content: "↕";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-arched-arrow-left:after,
[data-unicon-after="arched-arrow-left"]:after {
  content: "⃔";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-arched-arrow-left-before:before, [data-unicon-before="arched-arrow-left"]:before {
  content: "⃔";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-arched-arrow-right:after,
[data-unicon-after="arched-arrow-right"]:after {
  content: "⃕";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-arched-arrow-right-before:before, [data-unicon-before="arched-arrow-right"]:before {
  content: "⃕";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-wavy-arrow-left:after,
[data-unicon-after="wavy-arrow-left"]:after {
  content: "↜";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-wavy-arrow-left-before:before, [data-unicon-before="wavy-arrow-left"]:before {
  content: "↜";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-wavy-arrow-right:after,
[data-unicon-after="wavy-arrow-right"]:after {
  content: "↝";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-wavy-arrow-right-before:before, [data-unicon-before="wavy-arrow-right"]:before {
  content: "↝";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-thin-arrow-left:after,
[data-unicon-after="thin-arrow-left"]:after {
  content: "←";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-thin-arrow-left-before:before, [data-unicon-before="thin-arrow-left"]:before {
  content: "←";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-thin-arrow-up:after,
[data-unicon-after="thin-arrow-up"]:after {
  content: "↑";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-thin-arrow-up-before:before, [data-unicon-before="thin-arrow-up"]:before {
  content: "↑";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-thin-arrow-right:after,
[data-unicon-after="thin-arrow-right"]:after {
  content: "→";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-thin-arrow-right-before:before, [data-unicon-before="thin-arrow-right"]:before {
  content: "→";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-thin-arrow-down:after,
[data-unicon-after="thin-arrow-down"]:after {
  content: "↓";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-thin-arrow-down-before:before, [data-unicon-before="thin-arrow-down"]:before {
  content: "↓";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-thin-arrow-up-down:after,
[data-unicon-after="thin-arrow-up-down"]:after {
  content: "⇅";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-thin-arrow-up-down-before:before, [data-unicon-before="thin-arrow-up-down"]:before {
  content: "⇅";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-thin-arrow-left-right:after,
[data-unicon-after="thin-arrow-left-right"]:after {
  content: "⇆";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-thin-arrow-left-right-before:before, [data-unicon-before="thin-arrow-left-right"]:before {
  content: "⇆";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-thin-arrow-top-left:after,
[data-unicon-after="thin-arrow-top-left"]:after {
  content: "↖";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-thin-arrow-top-left-before:before, [data-unicon-before="thin-arrow-top-left"]:before {
  content: "↖";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-thin-arrow-top-right:after,
[data-unicon-after="thin-arrow-top-right"]:after {
  content: "↗";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-thin-arrow-top-right-before:before, [data-unicon-before="thin-arrow-top-right"]:before {
  content: "↗";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-thin-arrow-bottom-right:after,
[data-unicon-after="thin-arrow-bottom-right"]:after {
  content: "↘";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-thin-arrow-bottom-right-before:before, [data-unicon-before="thin-arrow-bottom-right"]:before {
  content: "↘";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-thin-arrow-bottom-left:after,
[data-unicon-after="thin-arrow-bottom-left"]:after {
  content: "↙";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-thin-arrow-bottom-left-before:before, [data-unicon-before="thin-arrow-bottom-left"]:before {
  content: "↙";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-chevron-left:after,
[data-unicon-after="chevron-left"]:after {
  content: "❬";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-chevron-left-before:before, [data-unicon-before="chevron-left"]:before {
  content: "❬";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-chevron-right:after,
[data-unicon-after="chevron-right"]:after {
  content: "❭";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-chevron-right-before:before, [data-unicon-before="chevron-right"]:before {
  content: "❭";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-heavy-chevron-left:after,
[data-unicon-after="heavy-chevron-left"]:after {
  content: "❰";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-heavy-chevron-left-before:before, [data-unicon-before="heavy-chevron-left"]:before {
  content: "❰";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-heavy-chevron-right:after,
[data-unicon-after="heavy-chevron-right"]:after {
  content: "❱";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-heavy-chevron-right-before:before, [data-unicon-before="heavy-chevron-right"]:before {
  content: "❱";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-small-angle-left:after,
[data-unicon-after="small-angle-left"]:after {
  content: "‹";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-small-angle-left-before:before, [data-unicon-before="small-angle-left"]:before {
  content: "‹";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-small-angle-right:after,
[data-unicon-after="small-angle-right"]:after {
  content: "›";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-small-angle-right-before:before, [data-unicon-before="small-angle-right"]:before {
  content: "›";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-small-angle-up:after,
[data-unicon-after="small-angle-up"]:after {
  content: "ˆ";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-small-angle-up-before:before, [data-unicon-before="small-angle-up"]:before {
  content: "ˆ";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-small-angle-down:after,
[data-unicon-after="small-angle-down"]:after {
  content: "ˇ";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-small-angle-down-before:before, [data-unicon-before="small-angle-down"]:before {
  content: "ˇ";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-angle-left:after,
[data-unicon-after="angle-left"]:after {
  content: "ᐸ";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-angle-left-before:before, [data-unicon-before="angle-left"]:before {
  content: "ᐸ";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-angle-right:after,
[data-unicon-after="angle-right"]:after {
  content: "ᐳ";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-angle-right-before:before, [data-unicon-before="angle-right"]:before {
  content: "ᐳ";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-wide-angle-up:after,
[data-unicon-after="wide-angle-up"]:after {
  content: "︿";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-wide-angle-up-before:before, [data-unicon-before="wide-angle-up"]:before {
  content: "︿";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-wide-angle-down:after,
[data-unicon-after="wide-angle-down"]:after {
  content: "﹀";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-wide-angle-down-before:before, [data-unicon-before="wide-angle-down"]:before {
  content: "﹀";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-wide-angle-left:after,
[data-unicon-after="wide-angle-left"]:after {
  content: "〈";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-wide-angle-left-before:before, [data-unicon-before="wide-angle-left"]:before {
  content: "〈";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-wide-angle-right:after,
[data-unicon-after="wide-angle-right"]:after {
  content: "〉";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-wide-angle-right-before:before, [data-unicon-before="wide-angle-right"]:before {
  content: "〉";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-triangles-up-down:after,
[data-unicon-after="triangles-up-down"]:after {
  content: "ː";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-triangles-up-down-before:before, [data-unicon-before="triangles-up-down"]:before {
  content: "ː";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-triangle-left:after,
[data-unicon-after="triangle-left"]:after {
  content: "◄";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-triangle-left-before:before, [data-unicon-before="triangle-left"]:before {
  content: "◄";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-triangle-up:after,
[data-unicon-after="triangle-up"]:after {
  content: "▲";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-triangle-up-before:before, [data-unicon-before="triangle-up"]:before {
  content: "▲";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-triangle-right:after,
[data-unicon-after="triangle-right"]:after {
  content: "►";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-triangle-right-before:before, [data-unicon-before="triangle-right"]:before {
  content: "►";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-triangle-down:after,
[data-unicon-after="triangle-down"]:after {
  content: "▼";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-triangle-down-before:before, [data-unicon-before="triangle-down"]:before {
  content: "▼";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-outline-triangle-left:after,
[data-unicon-after="outline-triangle-left"]:after {
  content: "◁";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-outline-triangle-left-before:before, [data-unicon-before="outline-triangle-left"]:before {
  content: "◁";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-outline-triangle-up:after,
[data-unicon-after="outline-triangle-up"]:after {
  content: "△";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-outline-triangle-up-before:before, [data-unicon-before="outline-triangle-up"]:before {
  content: "△";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-outline-triangle-right:after,
[data-unicon-after="outline-triangle-right"]:after {
  content: "▷";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-outline-triangle-right-before:before, [data-unicon-before="outline-triangle-right"]:before {
  content: "▷";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-outline-triangle-down:after,
[data-unicon-after="outline-triangle-down"]:after {
  content: "▽";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-outline-triangle-down-before:before, [data-unicon-before="outline-triangle-down"]:before {
  content: "▽";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-small-triangle-left:after,
[data-unicon-after="small-triangle-left"]:after {
  content: "◂";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-small-triangle-left-before:before, [data-unicon-before="small-triangle-left"]:before {
  content: "◂";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-small-triangle-up:after,
[data-unicon-after="small-triangle-up"]:after {
  content: "▴";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-small-triangle-up-before:before, [data-unicon-before="small-triangle-up"]:before {
  content: "▴";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-small-triangle-right:after,
[data-unicon-after="small-triangle-right"]:after {
  content: "▸";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-small-triangle-right-before:before, [data-unicon-before="small-triangle-right"]:before {
  content: "▸";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-small-triangle-down:after,
[data-unicon-after="small-triangle-down"]:after {
  content: "▾";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-small-triangle-down-before:before, [data-unicon-before="small-triangle-down"]:before {
  content: "▾";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-outline-small-triangle-left:after,
[data-unicon-after="outline-small-triangle-left"]:after {
  content: "◃";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-outline-small-triangle-left-before:before, [data-unicon-before="outline-small-triangle-left"]:before {
  content: "◃";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-outline-small-triangle-up:after,
[data-unicon-after="outline-small-triangle-up"]:after {
  content: "▵";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-outline-small-triangle-up-before:before, [data-unicon-before="outline-small-triangle-up"]:before {
  content: "▵";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-outline-small-triangle-right:after,
[data-unicon-after="outline-small-triangle-right"]:after {
  content: "▹";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-outline-small-triangle-right-before:before, [data-unicon-before="outline-small-triangle-right"]:before {
  content: "▹";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-outline-small-triangle-down:after,
[data-unicon-after="outline-small-triangle-down"]:after {
  content: "▿";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-outline-small-triangle-down-before:before, [data-unicon-before="outline-small-triangle-down"]:before {
  content: "▿";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-outline-narrow-triangle-left:after,
[data-unicon-after="outline-narrow-triangle-left"]:after {
  content: "⊲";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-outline-narrow-triangle-left-before:before, [data-unicon-before="outline-narrow-triangle-left"]:before {
  content: "⊲";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-outline-narrow-triangle-right:after,
[data-unicon-after="outline-narrow-triangle-right"]:after {
  content: "⊳";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-outline-narrow-triangle-right-before:before, [data-unicon-before="outline-narrow-triangle-right"]:before {
  content: "⊳";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-small-cross:after,
[data-unicon-after="small-cross"]:after {
  content: "˟";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-small-cross-before:before, [data-unicon-before="small-cross"]:before {
  content: "˟";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-cross:after,
[data-unicon-after="cross"]:after {
  content: "✕";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-cross-before:before, [data-unicon-before="cross"]:before {
  content: "✕";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-thin-cross:after,
[data-unicon-after="thin-cross"]:after {
  content: "╳";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-thin-cross-before:before, [data-unicon-before="thin-cross"]:before {
  content: "╳";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-heavy-cross:after,
[data-unicon-after="heavy-cross"]:after {
  content: "✖";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-heavy-cross-before:before, [data-unicon-before="heavy-cross"]:before {
  content: "✖";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-handwritten-cross:after,
[data-unicon-after="handwritten-cross"]:after {
  content: "✘";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-handwritten-cross-before:before, [data-unicon-before="handwritten-cross"]:before {
  content: "✘";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-checkmark:after,
[data-unicon-after="checkmark"]:after {
  content: "✔";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-checkmark-before:before, [data-unicon-before="checkmark"]:before {
  content: "✔";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-check:after,
[data-unicon-after="check"]:after {
  content: "✓";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-check-before:before, [data-unicon-before="check"]:before {
  content: "✓";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-check-heavy:after,
[data-unicon-after="check-heavy"]:after {
  content: "✔";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-check-heavy-before:before, [data-unicon-before="check-heavy"]:before {
  content: "✔";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-square:after,
[data-unicon-after="square"]:after {
  content: "☐";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-square-before:before, [data-unicon-before="square"]:before {
  content: "☐";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-checked-square:after,
[data-unicon-after="checked-square"]:after {
  content: "☑";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-checked-square-before:before, [data-unicon-before="checked-square"]:before {
  content: "☑";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-sun:after,
[data-unicon-after="sun"]:after {
  content: "☀";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-sun-before:before, [data-unicon-before="sun"]:before {
  content: "☀";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-outline-sun:after,
[data-unicon-after="outline-sun"]:after {
  content: "☼";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-outline-sun-before:before, [data-unicon-before="outline-sun"]:before {
  content: "☼";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-outline-moon:after,
[data-unicon-after="outline-moon"]:after {
  content: "☾";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-outline-moon-before:before, [data-unicon-before="outline-moon"]:before {
  content: "☾";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-cloud:after,
[data-unicon-after="cloud"]:after {
  content: "☁";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-cloud-before:before, [data-unicon-before="cloud"]:before {
  content: "☁";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-umbrella:after,
[data-unicon-after="umbrella"]:after {
  content: "☂";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-umbrella-before:before, [data-unicon-before="umbrella"]:before {
  content: "☂";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-snowman:after,
[data-unicon-after="snowman"]:after {
  content: "☃";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-snowman-before:before, [data-unicon-before="snowman"]:before {
  content: "☃";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-comet:after,
[data-unicon-after="comet"]:after {
  content: "☄";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-comet-before:before, [data-unicon-before="comet"]:before {
  content: "☄";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-degree:after,
[data-unicon-after="degree"]:after {
  content: "°";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-degree-before:before, [data-unicon-before="degree"]:before {
  content: "°";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-middot:after,
[data-unicon-after="middot"]:after {
  content: "·";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-middot-before:before, [data-unicon-before="middot"]:before {
  content: "·";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-bullet:after,
[data-unicon-after="bullet"]:after {
  content: "•";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-bullet-before:before, [data-unicon-before="bullet"]:before {
  content: "•";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-shelf:after,
[data-unicon-after="shelf"]:after {
  content: "˽";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-shelf-before:before, [data-unicon-before="shelf"]:before {
  content: "˽";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-female:after,
[data-unicon-after="female"]:after {
  content: "♀";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-female-before:before, [data-unicon-before="female"]:before {
  content: "♀";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-male:after,
[data-unicon-after="male"]:after {
  content: "♂";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-male-before:before, [data-unicon-before="male"]:before {
  content: "♂";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-music:after,
[data-unicon-after="music"]:after {
  content: "♫";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-music-before:before, [data-unicon-before="music"]:before {
  content: "♫";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-recycling:after,
[data-unicon-after="recycling"]:after {
  content: "♻";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-recycling-before:before, [data-unicon-before="recycling"]:before {
  content: "♻";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-outline-flag:after,
[data-unicon-after="outline-flag"]:after {
  content: "⚐";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-outline-flag-before:before, [data-unicon-before="outline-flag"]:before {
  content: "⚐";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-flag:after,
[data-unicon-after="flag"]:after {
  content: "⚑";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-flag-before:before, [data-unicon-before="flag"]:before {
  content: "⚑";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-outline-circle-dot-right:after,
[data-unicon-after="outline-circle-dot-right"]:after {
  content: "⚆";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-outline-circle-dot-right-before:before, [data-unicon-before="outline-circle-dot-right"]:before {
  content: "⚆";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-circle-dot-right:after,
[data-unicon-after="circle-dot-right"]:after {
  content: "⚈";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-circle-dot-right-before:before, [data-unicon-before="circle-dot-right"]:before {
  content: "⚈";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-outline-circle-dot-double:after,
[data-unicon-after="outline-circle-dot-double"]:after {
  content: "⚇";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-outline-circle-dot-double-before:before, [data-unicon-before="outline-circle-dot-double"]:before {
  content: "⚇";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-circle-dot-double:after,
[data-unicon-after="circle-dot-double"]:after {
  content: "⚉";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-circle-dot-double-before:before, [data-unicon-before="circle-dot-double"]:before {
  content: "⚉";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-atom:after,
[data-unicon-after="atom"]:after {
  content: "⚛";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-atom-before:before, [data-unicon-before="atom"]:before {
  content: "⚛";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-warning:after,
[data-unicon-after="warning"]:after {
  content: "⚠";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-warning-before:before, [data-unicon-before="warning"]:before {
  content: "⚠";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-baseball:after,
[data-unicon-after="baseball"]:after {
  content: "⚾";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-baseball-before:before, [data-unicon-before="baseball"]:before {
  content: "⚾";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-ornament-quote-down:after,
[data-unicon-after="ornament-quote-down"]:after {
  content: "❝";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-ornament-quote-down-before:before, [data-unicon-before="ornament-quote-down"]:before {
  content: "❝";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-ornament-quote-up:after,
[data-unicon-after="ornament-quote-up"]:after {
  content: "❞";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-ornament-quote-up-before:before, [data-unicon-before="ornament-quote-up"]:before {
  content: "❞";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-search:after,
[data-unicon-after="search"]:after {
  content: "֠";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-search-before:before, [data-unicon-before="search"]:before {
  content: "֠";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-infinity:after,
[data-unicon-after="infinity"]:after {
  content: "∞";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-infinity-before:before, [data-unicon-before="infinity"]:before {
  content: "∞";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-infinity-vertical:after,
[data-unicon-after="infinity-vertical"]:after {
  content: "ଃ";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-infinity-vertical-before:before, [data-unicon-before="infinity-vertical"]:before {
  content: "ଃ";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-circle:after,
[data-unicon-after="circle"]:after {
  content: "೦";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-circle-before:before, [data-unicon-before="circle"]:before {
  content: "೦";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-dot-on-line:after,
[data-unicon-after="dot-on-line"]:after {
  content: "ᚽ";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-dot-on-line-before:before, [data-unicon-before="dot-on-line"]:before {
  content: "ᚽ";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-ellipsis:after,
[data-unicon-after="ellipsis"]:after {
  content: "…";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-ellipsis-before:before, [data-unicon-before="ellipsis"]:before {
  content: "…";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-ellipsis-vertical:after,
[data-unicon-after="ellipsis-vertical"]:after {
  content: "⁝";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-ellipsis-vertical-before:before, [data-unicon-before="ellipsis-vertical"]:before {
  content: "⁝";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-forbidden:after,
[data-unicon-after="forbidden"]:after {
  content: "⃠";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-forbidden-before:before, [data-unicon-before="forbidden"]:before {
  content: "⃠";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-trademark:after,
[data-unicon-after="trademark"]:after {
  content: "™";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-trademark-before:before, [data-unicon-before="trademark"]:before {
  content: "™";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-copyright:after,
[data-unicon-after="copyright"]:after {
  content: "©";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-copyright-before:before, [data-unicon-before="copyright"]:before {
  content: "©";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-registered:after,
[data-unicon-after="registered"]:after {
  content: "®";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-registered-before:before, [data-unicon-before="registered"]:before {
  content: "®";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-info:after,
[data-unicon-after="info"]:after {
  content: "ℹ";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-info-before:before, [data-unicon-before="info"]:before {
  content: "ℹ";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-asterisk:after,
[data-unicon-after="asterisk"]:after {
  content: "∗";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-asterisk-before:before, [data-unicon-before="asterisk"]:before {
  content: "∗";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-bacon:after,
[data-unicon-after="bacon"]:after {
  content: "≈";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-bacon-before:before, [data-unicon-before="bacon"]:before {
  content: "≈";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-hamburger:after,
[data-unicon-after="hamburger"]:after {
  content: "≡";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-hamburger-before:before, [data-unicon-before="hamburger"]:before {
  content: "≡";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-quadruple-hamdurger:after,
[data-unicon-after="quadruple-hamdurger"]:after {
  content: "≣";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-quadruple-hamdurger-before:before, [data-unicon-before="quadruple-hamdurger"]:before {
  content: "≣";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-crosshairs:after,
[data-unicon-after="crosshairs"]:after {
  content: "⊹";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-crosshairs-before:before, [data-unicon-before="crosshairs"]:before {
  content: "⊹";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-star:after,
[data-unicon-after="star"]:after {
  content: "★";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-star-before:before, [data-unicon-before="star"]:before {
  content: "★";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-outline-star:after,
[data-unicon-after="outline-star"]:after {
  content: "☆";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-outline-star-before:before, [data-unicon-before="outline-star"]:before {
  content: "☆";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-osx-cmd:after,
[data-unicon-after="osx-cmd"]:after {
  content: "⌘";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-osx-cmd-before:before, [data-unicon-before="osx-cmd"]:before {
  content: "⌘";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-delete-right:after,
[data-unicon-after="delete-right"]:after {
  content: "⌦";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-delete-right-before:before, [data-unicon-before="delete-right"]:before {
  content: "⌦";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-delete-left:after,
[data-unicon-after="delete-left"]:after {
  content: "⌫";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-delete-left-before:before, [data-unicon-before="delete-left"]:before {
  content: "⌫";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-print:after,
[data-unicon-after="print"]:after {
  content: "⎙";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-print-before:before, [data-unicon-before="print"]:before {
  content: "⎙";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-eject:after,
[data-unicon-after="eject"]:after {
  content: "⏏";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-eject-before:before, [data-unicon-before="eject"]:before {
  content: "⏏";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-telephone:after,
[data-unicon-after="telephone"]:after {
  content: "☎";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-telephone-before:before, [data-unicon-before="telephone"]:before {
  content: "☎";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-outline-telephone:after,
[data-unicon-after="outline-telephone"]:after {
  content: "☏";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-outline-telephone-before:before, [data-unicon-before="outline-telephone"]:before {
  content: "☏";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-scissors:after,
[data-unicon-after="scissors"]:after {
  content: "✁";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-scissors-before:before, [data-unicon-before="scissors"]:before {
  content: "✁";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-circle-telephone:after,
[data-unicon-after="circle-telephone"]:after {
  content: "✆";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-circle-telephone-before:before, [data-unicon-before="circle-telephone"]:before {
  content: "✆";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-airplane:after,
[data-unicon-after="airplane"]:after {
  content: "✈";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-airplane-before:before, [data-unicon-before="airplane"]:before {
  content: "✈";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-mail:after,
[data-unicon-after="mail"]:after {
  content: "✉";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-mail-before:before, [data-unicon-before="mail"]:before {
  content: "✉";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-heart:after,
[data-unicon-after="heart"]:after {
  content: "❤";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-heart-before:before, [data-unicon-before="heart"]:before {
  content: "❤";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-circled-plus:after,
[data-unicon-after="circled-plus"]:after {
  content: "⊕";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-circled-plus-before:before, [data-unicon-before="circled-plus"]:before {
  content: "⊕";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-circled-minus:after,
[data-unicon-after="circled-minus"]:after {
  content: "⊖";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-circled-minus-before:before, [data-unicon-before="circled-minus"]:before {
  content: "⊖";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-circled-cross:after,
[data-unicon-after="circled-cross"]:after {
  content: "⊗";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-circled-cross-before:before, [data-unicon-before="circled-cross"]:before {
  content: "⊗";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-circled-slash:after,
[data-unicon-after="circled-slash"]:after {
  content: "⊘";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-circled-slash-before:before, [data-unicon-before="circled-slash"]:before {
  content: "⊘";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-circled-equals:after,
[data-unicon-after="circled-equals"]:after {
  content: "⊜";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-circled-equals-before:before, [data-unicon-before="circled-equals"]:before {
  content: "⊜";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-hand-left:after,
[data-unicon-after="hand-left"]:after {
  content: "☚";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-hand-left-before:before, [data-unicon-before="hand-left"]:before {
  content: "☚";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-hand-right:after,
[data-unicon-after="hand-right"]:after {
  content: "☛";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-hand-right-before:before, [data-unicon-before="hand-right"]:before {
  content: "☛";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-outline-hand-left:after,
[data-unicon-after="outline-hand-left"]:after {
  content: "☜";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-outline-hand-left-before:before, [data-unicon-before="outline-hand-left"]:before {
  content: "☜";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-outline-hand-right:after,
[data-unicon-after="outline-hand-right"]:after {
  content: "☞";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-outline-hand-right-before:before, [data-unicon-before="outline-hand-right"]:before {
  content: "☞";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-outline-hand-down:after,
[data-unicon-after="outline-hand-down"]:after {
  content: "☟";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-outline-hand-down-before:before, [data-unicon-before="outline-hand-down"]:before {
  content: "☟";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-writing-hand:after,
[data-unicon-after="writing-hand"]:after {
  content: "✍";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-writing-hand-before:before, [data-unicon-before="writing-hand"]:before {
  content: "✍";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-pen:after,
[data-unicon-after="pen"]:after {
  content: "✎";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-pen-before:before, [data-unicon-before="pen"]:before {
  content: "✎";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-skull-bones:after,
[data-unicon-after="skull-bones"]:after {
  content: "☠";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-skull-bones-before:before, [data-unicon-before="skull-bones"]:before {
  content: "☠";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-radiation:after,
[data-unicon-after="radiation"]:after {
  content: "☢";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-radiation-before:before, [data-unicon-before="radiation"]:before {
  content: "☢";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-biohazard:after,
[data-unicon-after="biohazard"]:after {
  content: "☣";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-biohazard-before:before, [data-unicon-before="biohazard"]:before {
  content: "☣";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-aesculapius-staff:after,
[data-unicon-after="aesculapius-staff"]:after {
  content: "⚕";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-aesculapius-staff-before:before, [data-unicon-before="aesculapius-staff"]:before {
  content: "⚕";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-peace:after,
[data-unicon-after="peace"]:after {
  content: "☮";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-peace-before:before, [data-unicon-before="peace"]:before {
  content: "☮";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-yin-yang:after,
[data-unicon-after="yin-yang"]:after {
  content: "☯";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-yin-yang-before:before, [data-unicon-before="yin-yang"]:before {
  content: "☯";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-sad-face:after,
[data-unicon-after="sad-face"]:after {
  content: "☹";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-sad-face-before:before, [data-unicon-before="sad-face"]:before {
  content: "☹";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-outline-smiling-face:after,
[data-unicon-after="outline-smiling-face"]:after {
  content: "☺";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-outline-smiling-face-before:before, [data-unicon-before="outline-smiling-face"]:before {
  content: "☺";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.unicon-smiling-face:after,
[data-unicon-after="smiling-face"]:after {
  content: "☻";
  display: block;
  font-family: "Georgia", serif;
  padding-left: 0; }

.unicon-smiling-face-before:before, [data-unicon-before="smiling-face"]:before {
  content: "☻";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

/****************************************************
*   Function
*****************************************************/
.icons-list {
  padding: 2em; }

.icon {
  width: 8.5em;
  text-align: center;
  display: inline-block;
  padding: 1.5em 1.5em 3em 1.5em; }
  .icon:before {
    font-size: 2em;
    margin-bottom: .5em;
    height: 2em;
    line-height: 2em; }

.icon-extended:before {
  content: "🎯";
  display: block;
  font-family: "Georgia", serif;
  padding-right: 0; }

.icon-inserted:before {
  content: "✉"; }

/*# sourceMappingURL=dev.css.map */