doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        // This meta tag is important
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title='Unicon'
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
        link(rel='stylesheet', href='css/unicon.css')
        link(rel='stylesheet', href='css/dev.css')
    body
        section.icons-list
            each char, name in icons
                span(class='unicon-' + name + '-before').icon!= name