doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        // This meta tag is important
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title='Unicon'
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
        link(rel='stylesheet', href='css/dev.css')
    body
        section.icons-list
            each char, name in icons
                span(class='unicon-' + name + '-before').icon!= name

            span.icon.unicon-icon.icon-extended Extended (demo, library contains no emoji)
            span.icon.unicon-icon.icon-inserted Inserted
            span(data-unicon-after="circular-arrow-anticlockwise").icon.unicon-icon.icon-data Inserted after
            span(data-unicon-before="circular-arrow-clockwise").icon.unicon-icon.icon-data-before Inserted before