.icons-list {
	padding: 2em;
}

.icon {
	width: 8.5em;
	text-align: center;
	display: inline-block;
	padding: 1.5em 1.5em 3em 1.5em;

	&:before {
		display: block;
		font-size: 2em;
		margin-bottom: .5em;
	}
}