$unicon-padding: 0;
$unicon-display: block;
$unicon-enable-classes: true;
@import 'unicon';

.icons-list {
	padding: 2em;
}

.icon {
	width: 8.5em;
	text-align: center;
	display: inline-block;
	padding: 1.5em 1.5em 3em 1.5em;

	&:before {
		font-size: 2em;
		margin-bottom: .5em;
		height: 2em;
		line-height: 2em;
	}
}

$unicon-icons: map-merge($unicon-icons, (
		'derp': '\01F3AF'
));

.icon-extended {
	@include unicon('derp', before);
}

.icon-inserted {

	&:before {
		content: unicon-insert('mail');
	}
}